body{
    background-image: url(img/background.jpg);
    background-repeat: repeat-y;
    padding: 30px;
}
  .container {
    width: 800px;
    border: 5px solid white;
    margin: 0 auto;
    background-color: white;
  }

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}