@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c1e9c2;
    background-repeat: repeat-y;
    padding: 0px;
    max-width: 100%;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
}

.container .text{
    text-align: justify;
    padding: 10px;
}

.container .region{
    text-align: center;
}

.container p{
    text-align: justify;
    padding: 10px;
}

.buttons {
    background: rgb(96, 187, 96);
    display: block;
}

.buttons a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
   
  }
  
  .buttons a:hover {
    background-color: #138217;
    color: black;
  }

label{
    position: absolute;
    width: 48px;
    height: 25px;
    right: 20px;
    top: 2px;
    border: 2px solid green;
    border-radius: 20px;
}

label:before{
    position: absolute;
    content: "";
    width: 22px;
    height: 19px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: #045607;
    transition: 0.4s;
}

label.active:before{
    left: 20px;
    background-color:  #c1e9c2;
}

body.night{
    background-color: #045607;
}

.header{
    margin: 0 auto;
    text-align: center;
    padding-left: 16px;
    padding-right: 10px;
}

  .container {
    display: block;
    width: 80%;
    height: auto;
    border: 5px solid white;
    margin: 0 auto;
    background-color: white;
    text-align: center;
  }

  .container img{
    width: 60%;
  }

  .container .nav li{
    text-align: center;
    display: block;
    list-style: none;
    
  }

.upward{
    position: fixed;
    bottom: 700px;
    right: 40px;
    width: 70px;
    height: 70px;
    background: url(img/upp.JPG);
    background-size: cover;
    cursor: pointer;
    visibility: hidden;
    opacity: o;
    transition: 0,5s;
}

.upward.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

.footer{
    text-align: center;
    color: black;
    font-size: 16px;
    background-color: green; 
    width: 100%;
}